# Dependências
node_modules/

# Expo
.expo/
dist/
web-build/
.expo-shared/

# Builds nativos
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Variáveis de ambiente
.env
.env.local
